.navbar{
    background-color: #133592;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
nav a{
    color: white;
    background-color: transparent;
}
nav a:hover {
    color: white;
  }
  
div li .cursos{
    padding-top: 10px;
}